body{
    margin: 0;
    padding: 0;
    background-image: url('img/background-utama.png');
}
.navbar-inverse{
    background: #4c94aa;
    border-bottom: 4px solid rgb(118, 111, 211);
    z-index: 9999999;
    position: fixed;
    font-family: 'Delius', cursive;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
    background: lightslategray;
}

.navbar-inverse img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    transition: 10s;
    transform: scale(.8) rotate(0deg);
}

.navbar-inverse:hover img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    transform: scale(1) rotate(3600deg);
}

.bungkus-1{
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.header-1{
    background: #26808b;
    margin-top: -20px;
    background-image: url('img/background.jpg');
    transition: 1s;
    background-position: center;
    width: 100%;
    height: 550px;
    display: inline-block;
    filter: blur(8px);
    border-bottom: 3px solid lightblue;
    position: relative;
    margin-top: 5%;
}

.name img{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    margin-top: -100px;
    margin-left: -80px;
    transform: scale(1);
    transition: 1s;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, .7);
}

.name img:hover{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    margin-top: -100px;
    margin-left: -80px;
    transform: scale(1.1);
}

.name{
    background-color: rgb(95, 209, 224); /* Fallback color */
    background-color: rgba(95, 209, 224,.7); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    box-shadow: 3px 3px 20px rgba(255, 255, 255, .7);
    position: absolute;
}

.name h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.name p{
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
}

hr{
    width: 70%;
    border-top: 5px solid #fff;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, .7);
}

.bungkus-2{
    position: relative;
    font-family: 'Dancing Script', cursive;
}

.header-2{
    width: 100%;
    height: 650px;
    background:#26808b;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-image: url('img/background-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.skill{
    background-color: rgb(95, 209, 224); /* Fallback color */
    background-color: rgba(95, 209, 224,.7); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 95%;
    padding: 20px;
    box-shadow: 3px 3px 30px rgba(255, 255, 255, .7);
    position: absolute;
}

.bungkus-3{
    position: relative;
}

.header-3{
    width: 100%;
    height: 650px;
    background:#26808b;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('img/background-3.jpg');
}

.tentang{
    background-color: rgb(95, 209, 224); /* Fallback color */
    background-color: rgba(95, 209, 224,.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    box-shadow: 3px 3px 20px rgba(255, 255, 255, .5);
    position: absolute;
    padding: 20px;
}

.tentang h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.tentang p{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: normal;
    text-transform: capitalize;
    text-align: justify;
}

::selection {
    background: transparent;
    text-shadow: #0090ff 0 0 2px;
}
    
    ::-moz-selection {
    background: transparent;
    text-shadow: #0090ff 0 0 2px;
}
    
    ::-webkit-selection {
    background: transparent;
    text-shadow: #0090ff 0 0 2px;
}

.contact h1{
    font-family: 'Dancing Script', cursive;
    color: white;
}

.contact{
    position: relative;
}

.header-4{
    width: 100%;
    height: 650px;
    background:#26808b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Delius', cursive;
}

button{
    border: none;
    background: #262626;
    color: white;
}

footer p a{
    text-decoration: none;
}

footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #262626;
    color: white;
    margin-top: 20px;
    font-family: 'Delius', cursive;
}